@use '_theme.scss';

#nav {
    border-bottom:0px solid theme.$black;
    background-color: theme.$grey;
}

#nav__heading{
    padding: 1rem;
    margin:0;
}

#nav__link{
    text-decoration: none;
    color: theme.$white;
}

#nav__container{
}

#nav__ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}

#nav__li{
    float: left;

    a{
        display: block;
        color: theme.$white;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
        font-weight:bold;
    }

    a:hover:not(.nav__active){
        background-color: theme.$cream;
        color:theme.$black;
    }
}

.nav__active{
    background-color: theme.$teal;
}