@use '_colours.scss';

#nav {
    border:1px solid colours.$black;
}

#nav__heading{
    border:1px solid colours.$black;
}

#nav__link{
    border:1px solid colours.$black;
}

#nav__container{
    border:1px solid colours.$black;
}

#nav__button{
    border:1px solid colours.$black;
}

#nav__button--current{
    border:1px solid colours.$black;
}

#nav__dropdown{
    border:1px solid colours.$black;
}