@use '_navbar-style.scss';
@use '_theme.scss';

body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:theme.$white;
    color:theme.$black;

    
}

.dark-mode{
    background-color:theme.$grey;
    color:theme.$white;
}

#main-content{
    margin: 10rem 2rem 2rem 2rem;
}

.main-content__heading{

}

.main-content__text{

}

.main-content__date{
    font-weight:bold;
    color:theme.$teal
}

a{
    color: theme.$white;
}